
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#AnswerAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("answerId");
		
		$( "#multiSelectForQuestion" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("QuestionInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the Question
				var parentId = document.getElementById( 'answerId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/Answer/saveQuestion?answerId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingAnswer();
				});
			}
			// hide the select
			$("#multiSelectForQuestionDivId").hide();
		});
	
	 	$( document ).on('refreshQuestionForAnswer', function() 
	 	{			
	 		// reload Answer and apply the Question
	 		var url 	= '/Answer/load?answerId=' + id;
	 		var element = document.getElementById( 'QuestionInputId' );
	 		var field 	= 'question.weight';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });
		
		$( "#multiSelectForResponse" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("ResponseInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the Response
				var parentId = document.getElementById( 'answerId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/Answer/saveResponse?answerId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingAnswer();
				});
			}
			// hide the select
			$("#multiSelectForResponseDivId").hide();
		});
	
	 	$( document ).on('refreshResponseForAnswer', function() 
	 	{			
	 		// reload Answer and apply the Response
	 		var url 	= '/Answer/load?answerId=' + id;
	 		var element = document.getElementById( 'ResponseInputId' );
	 		var field 	= 'response.responseText';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("answerId");
			
			jQuery.ajax(
			{
		  		url: '/Answer/load?answerId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingAnswer()
	{
		document.getElementById("AnswerFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetAnswer()
	{
		document.getElementById("AnswerProfileFormId").reset();
	}
	
	function saveAnswer()
	{
		$('#AnswerFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#AnswerProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Answer/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#AnswerProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['answerId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Answer
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('answerId').value = data['answerId'];

			if ( action == 'create' )
				$( '#AnswerAssociationDivId' ).show();
*/				
			doneSavingAnswer();
		});
		
		$('#AnswerFormLoadingDivId').hide();			
	
	}
		function addQuestion()
	{
		addHelperForAnswer( 'Question', 'Question' );
	}
	
	function deleteQuestion()
	{ 
		deleteHelperForAnswer( 'Question', 'weight' );
	}

	function addQuestionFromList()
	{
		// display the multi-select (viewAll and Question lists)
		$("#multiSelectForQuestionDivId").show();

		jQuery.ajax(
		{
		    url: "/Question/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForQuestion").empty();
			
			var selectId	= "multiSelectForQuestion";
			var text 		= 'weight';
			var value 		= 'questionId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addResponse()
	{
		addHelperForAnswer( 'TheResponse', 'Response' );
	}
	
	function deleteResponse()
	{ 
		deleteHelperForAnswer( 'Response', 'responseText' );
	}

	function addResponseFromList()
	{
		// display the multi-select (viewAll and Response lists)
		$("#multiSelectForResponseDivId").show();

		jQuery.ajax(
		{
		    url: "/TheResponse/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForResponse").empty();
			
			var selectId	= "multiSelectForResponse";
			var text 		= 'responseText';
			var value 		= 'theResponseId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
        function addHelperForAnswer( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Answer " + roleName;
		var parentId = document.getElementById("answerId").value;
		parentUrl = '/Answer/save' + roleName + '?answerId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=answer&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForAnswer';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForAnswer( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Answer/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#AnswerProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("AnswerFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="AnswerProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="AnswerProfileFormId" class="formTableClass">
    <input type=hidden id="answerId" name="answerId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Answer" onclick="saveAnswer()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetAnswer()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="AnswerAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Question
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="QuestionInputId" name="question.weight" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForQuestionDivId" style="display:none">
	                  <select id="multiSelectForQuestion" />
	                  <a href="#" onclick="$('#multiSelectForQuestionDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create Question" onclick="addQuestion()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add Question from list" onclick="addQuestionFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete Question" onclick="deleteQuestion()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Response
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="ResponseInputId" name="response.responseText" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForResponseDivId" style="display:none">
	                  <select id="multiSelectForResponse" />
	                  <a href="#" onclick="$('#multiSelectForResponseDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create TheResponse" onclick="addResponse()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add TheResponse from list" onclick="addResponseFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete TheResponse" onclick="deleteResponse()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>
<div id="AnswerFormLoadingDivId" style="display:none;color:black">
  saving Answer...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="AnswerFormStatusDivId">
</div>				  				  


