<h5>
You are now logged off of lambda_demo.
</h5>

<a href="/logon">
	<button id="appGenBttnId' type="button"  class="btn btn-default btn-sm">
		<span style="color:black">Log On</span>
	</button>
</a>
